body{
    margin:0px;
}
.h1-tag
{
 color: rebeccapurple;
}
.nav-bar a{
    padding: 15px;
    text-decoration: none;
    color: brown;
}
.nav-bar
{
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: bisque;
    padding: 15px;
}
.nav-bar a:hover{
  background-color: cornflowerblue;
  text-decoration: underline;
}
.card{
    border:2px solid black;
    width:350px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top:70px;
    border-radius: 30px;
    overflow:hidden;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.card img{
    width: 100%;
    
}
.card button{
    width:70%;
    padding:8px;
    border-radius: 20px;
}

.card button:hover{
    cursor:pointer;
    background-color:grey;
}